@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    --yellow: #FEC72C;
    --blue: #08A5B6;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-y: hidden;
}


/* premier container */

.main-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.svg);
    background-size: cover;
    background-position: 0 -0;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
}

.nilk-intro-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    flex-direction: column;
    align-items: start;
}

.nilk-title {
    border-left: 3px solid var(--yellow);
}

.subtitle,
.subtitle-right {
    color: var(--yellow);
}

.title,
.subtitle {
    font-size: 5rem;
    padding-left: 1rem;
}

p {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 2;
}

.voir-plus-link {
    text-decoration: none;
    background-color: var(--yellow);
    display: flex;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 20%;
}

.img-accueil-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-accueil {
    width: 70%;
}


/* SECOND CONTAINER */

.second-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.nilk-title-right {
    border-right: 3px solid var(--yellow);
    width: 100%;
}

.p-right {
    text-align: right;
}

.title,
.title-right {
    color: var(--blue);
}

.title-right,
.subtitle-right {
    padding-right: 1rem;
    font-size: 5rem;
    text-align: right;
}

.voir-plus-link-right {
    text-decoration: none;
    background-color: var(--yellow);
    display: flex;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 50%;
}

.img-plante-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-plante {
    width: 70%;
}


/* TROISIEME CONTAINER */

.third-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg3.svg);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.nilk-third-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}


/* DEBUT NAVABR */

.logopng {
    width: 250px;
}

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #FEC72C;
}

.navbar_menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ZeroConcessionByNilk2Go {
    background-color: white;
}

.link_menu_navbar {
    color: #FEC72C;
    text-decoration: none;
    font-size: 15px;
}


/* FIN NAVABR */

.nilk-third-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.img-concept-plaisir-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-concept-plaisir {
    width: 80%;
}


/* QUATRIEME CONTAINER */

.fourth-container {
    background-image: url(img/bg4.svg);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

footer {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--yellow);
}

.rs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

footer p {
    margin: 0;
}