@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Open+Sans&display=swap');
 :root {
    --yellow: #FEC72C;
    --blue: #08A5B6;
    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

.main {
    overflow-y: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: none;
}

a {
    cursor: none;
}

h1,
h2 {
    font-family: 'Josefin Slab', serif;
}

p,
a,
div {
    font-family: 'Open Sans', sans-serif;
}

#cursor {
    height: 15px;
    width: 15px;
    background-color: rgba(254, 199, 44, 1);
    position: fixed;
    z-index: 101;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid var(--blue);
    pointer-events: none;
    transition: height .2s, width .2s, background-color .2s;
}

#cursor.active {
    height: 30px;
    width: 30px;
    background-color: rgba(254, 199, 44, 0);
}


/* LOADER */

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    z-index: 100;
    transition: .4s ease-in-out;
}

.loader.active {
    transform: translateY(-100vh);
}

.loading-p {
    position: absolute;
    bottom: 25%;
    animation: blink 2s ease-in-out infinite;
    color: var(--blue);
    font-size: 2rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader img {
    width: 50px;
    margin: 2rem;
    animation: loading 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * .25s);
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.loader.active {
    transform: translateY(-100vh);
}

.loading-p {
    position: absolute;
    bottom: 25%;
    animation: blink 2s ease-in-out infinite;
    color: var(--blue);
    font-size: 2rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader img {
    width: 50px;
    margin: 2rem;
    animation: loading 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * .25s);
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}


/* DEBUT NAVABR */

.logopng {
    width: 250px;
}

.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 99;
    border-bottom: 3px solid #FEC72C;
}

.navbar_menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ZeroConcessionByNilk2Go {
    border: 3px solid #FEC72C;
    padding: 7px;
    border-radius: 7px;
    transition: 0.5s;
    text-decoration: none;
    color: var(--yellow);
}

.ZeroConcessionByNilk2Go:hover {
    background-color: #FEC72C;
    color: white;
    border: 3px solid #FEC72C;
    padding: 7px;
    border-radius: 7px;
    transition: 0.5s;
}

.link_menu_navbar {
    color: #FEC72C;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.link_menu_navbar::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    background-color: var(--yellow);
    height: 3px;
    width: 0;
    transition: .2s ease;
}

.link_menu_navbar:hover::after {
    width: 75%;
}


/* FIN NAVABR */


/* premier container */

.main-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.svg);
    background-size: cover;
    background-position: 0 -0;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nilk-intro-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    flex-direction: column;
    align-items: start;
}

.first-nilk {
    transform: translateY(20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.first-nilk.active {
    opacity: 1;
    transform: translateY(0);
}

.nilk-title {
    border-left: 3px solid var(--yellow);
}

.subtitle,
.subtitle-right {
    color: var(--yellow);
}

.title,
.subtitle {
    font-size: 5rem;
    padding-left: 1rem;
}

p {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 2;
}

.voir-plus-link {
    text-decoration: none;
    background-color: var(--yellow);
    display: flex;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 20%;
}

.img-accueil-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-accueil {
    width: 70%;
    transform: translateX(20vw);
    opacity: 0;
    transition: .6s .2s ease;
}

.img-accueil.active {
    transform: translateX(0);
    opacity: 1;
    width: 70%;
}


/* SECOND CONTAINER */

.second-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nilk-title-right {
    border-right: 3px solid var(--yellow);
    width: 100%;
}

.p-right {
    text-align: right;
}

.title,
.title-right {
    color: var(--blue);
}

.title-right,
.subtitle-right {
    padding-right: 1rem;
    font-size: 5rem;
    text-align: right;
}

.voir-plus-link-right {
    text-decoration: none;
    background-color: var(--yellow);
    display: flex;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1.4rem;
    color: var(--black);
    margin-left: 50%;
}

.second-nilk {
    transform: translateY(20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.second-nilk.active {
    opacity: 1;
    transform: translateY(0);
}

.img-plante-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-plante {
    width: 70%;
    transform: translateX(-20vw);
    opacity: 0;
    transition: .6s .2s ease;
}

.img-plante.active {
    transform: translateX(0);
    opacity: 1;
}


/* TROISIEME CONTAINER */

.third-container {
    height: 100vh;
    width: 100%;
    background-image: url(img/bg3.svg);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.nilk-third-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.third-nilk {
    transform: translateY(20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.third-nilk.active {
    transform: translateY(0);
    opacity: 1;
}

.nilk-third-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.img-concept-plaisir-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-concept-plaisir {
    height: 70%;
    transform: translateX(20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.img-concept-plaisir.active {
    transform: translateY(0);
    opacity: 1;
}


/* QUATRIEME CONTAINER */

.fourth-container {
    background-image: url(img/bg4.svg);
    height: 100vh;
    width: 100%;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.fourth-nilk {
    transform: translateY(20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.fourth-nilk.active {
    opacity: 1;
    transform: translateY(0);
}

.img-nilk-sport {
    height: 70%;
    transform: translateX(-20vh);
    opacity: 0;
    transition: .6s .2s ease;
}

.qr-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}

.img-nilk-sport.active {
    height: 100%;
    transform: translateX(0);
    opacity: 1;
}


/* FOOTER */

footer {
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: var(--yellow);
}

.rs-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

footer p {
    margin: 0;
}

.container_qr_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.alignement_items {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.qr_code_design {
    width: 40%;
    object-fit: cover;
}

.qr_code_design:hover {
    animation: 1s qr_code_design_hover;
}

@keyframes qr_code_design_hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.espacement_qr_code {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.activeclass_coffee_OAT {
    display: none;
}

.activeclass_coffee_OAT.active {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 75%;
    width: 80%;
    overflow: hidden;
    border: 10px solid #ff9900;
    background-color: white;
    border-radius: 30px;
    animation: 1s activeclass_coffee_OAT_hover;
}

@keyframes activeclass_coffee_OAT_hover {
    0% {
        height: 5%;
        width: 5%;
    }
    100% {
        height: 75%;
        width: 80%;
    }
}

.activeclass_chocolate_banana {
    display: none;
}

.activeclass_chocolate_banana.active {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 75%;
    width: 80%;
    border: 10px solid #ff9900;
    background-color: white;
    border-radius: 30px;
    animation: 1s activeclass_chocolate_banana_hover;
}

@keyframes activeclass_chocolate_banana_hover {
    0% {
        height: 5%;
        width: 5%;
    }
    100% {
        height: 75%;
        width: 80%;
    }
}

.activeclass_coconut_mango {
    display: none;
}

.activeclass_coconut_mango.active {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 75%;
    width: 80%;
    border: 10px solid #ff9900;
    background-color: white;
    border-radius: 30px;
    animation: 1s activeclass_coconut_mango_hover;
}

@keyframes activeclass_coconut_mango_hover {
    0% {
        height: 5%;
        width: 5%;
    }
    100% {
        height: 75%;
        width: 80%;
    }
}

.croix_coffe_oat {
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff9900;
}

.croix_chocolate_banana {
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff9900;
}

.croix_coconut_mango {
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff9900;
}

.img_cross {
    width: 15px;
    height: 15px;
}

.ifram_modification {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* contact page */

.contact-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    font-family: 'Open Sans', sans-serif;
}

.contact-title {
    font-size: 3rem;
}

.container-contact-us {
    width: 60%;
}

.container-contact-us h4 {
    width: 100%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.container-contact-us .row100 {
    position: relative;
    width: 100%;
}

.container-contact-us .row100 .col {
    position: relative;
    width: 100%;
    transition: .5s;
    margin-top: 5rem;
}

.container-contact-us .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #000;
}

.container-contact-us .row100 .inputBox input,
.container-contact-us .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 2vw;
    padding: 0 10px;
    z-index: 1;
    color: #0f0f0e;
    cursor: none;
}

.container-contact-us .row100 .inputBox .span-text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 1.5rem;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
}

.container-contact-us .row100 .inputBox input:focus+.span-text,
.container-contact-us .row100 .inputBox input:valid+.span-text {
    top: -45px;
    left: -10px;
}

.container-contact-us .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
    transition: .5s;
    border-radius: 2px;
    pointer-events: none;
}

.container-contact-us .row100 .inputBox input:focus~.line,
.container-contact-us .row100 .inputBox input:valid~.line {
    height: 100%;
}

.container-contact-us .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
}

.container-contact-us .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.container-contact-us .row100 .inputBox textarea:focus+.span-text,
.container-contact-us .row100 .inputBox textarea:valid+.span-text {
    top: -45px;
    left: -10px;
}

.container-contact-us .row100 .inputBox textarea:focus~.line,
.container-contact-us .row100 .inputBox textarea:valid~.line {
    height: 100%;
}

.send {
    border: none;
    padding: 4px 20px;
    cursor: none;
    outline: none;
    background-color: var(--black);
    color: var(--yellow);
    font-size: 1.5rem;
    border-radius: 2px;
    transition: .5s;
}

.no-horizontal {
    display: none;
}

.ifram_modification {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/** AMBASSADOR **/

.img_ambasador {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-image: url("img/bk_ambassador.jpg");
}

.center_position_amabassador {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.degrade_amabassador {
    padding: 20px;
    background-image: -webkit-linear-gradient( 180deg, rgb(177, 224, 87) 0%, rgba(177, 224, 87, 0) 100%);
    opacity: 0.7;
}

.font_size_profitez {
    font-size: 30px;
    text-align: right;
    color: white;
    opacity: 1.3;
}

.font_size_liberte {
    font-size: 50px;
}

.grey_ambassador {
    background-color: #f2f2f2;
    padding: 25px;
}

.center_txt_ambassador {
    text-align: center;
}

.center_txt_sous_ambassador {
    text-align: center;
    font-size: 20px;
}

.flex_image_partdeux {
    display: flex;
}

.color_bk_un_de_troi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #FEC72C;
    border-radius: 50%;
    color: white;
}

.delim_3_choses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.flex_amba {
    display: flex;
    margin-top: 5px;
}

.flex_txt_sous_flex_amba {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}

.container_delim_3_choses {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.style_hr_amba {
    background-color: #FEC72C;
    width: 240px;
    text-align: center;
}

.font_size_3_choses {
    font-size: 20px;
    text-align: center;
}

.align_hr {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.voici_comment_faire {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.commentfaire {
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}

.flex_correct {
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.flex_txt_correct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 10px;
}

.delim_size_img_articles {
    width: 50%;
}

.flex_articles {
    display: flex;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.img_max_size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delim_aled_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.delim_h2_articles {
    width: 200px;
    text-align: center;
}

.white_articles {
    width: 50%;
    background-color: white;
}

.hr_delim {
    width: 70%;
    background-color: #FEC72C;
    height: 2px;
    border: 0px;
}

.hr_articles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_delim_style {
    margin: 30px;
}

.delim_articledev {
    margin: 30px;
}

.modificationh3articles {
    font-size: 15px;
    margin-bottom: 20px;
}

.row_reverse {
    flex-direction: row-reverse;
}

.botoom_style_article_end {
    margin-bottom: 30px;
}


/* FIN AMBASSAFOR */

@media only screen and (max-width: 768px) {
    /* menu */
    navbar a {
        display: none;
    }
    .menu-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        right: -100vw;
        transition: .4s;
        background-color: var(--yellow);
        z-index: 98;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .menu-container a {
        color: var(--white);
        margin-top: 4rem;
        font-size: 2rem;
    }
    .menu-container.active {
        right: 0;
    }
    .burger-container {
        position: fixed;
        right: 0;
        top: 0;
        height: 60px;
        width: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger {
        width: 80%;
        height: 5px;
        background-color: rgba(254, 199, 44, 1);
        position: relative;
        transition: .4s;
    }
    .burger::before {
        content: '';
        width: 100%;
        height: 5px;
        top: 10px;
        background-color: rgba(254, 199, 44, 1);
        position: absolute;
        transition: .4s;
    }
    .burger::after {
        content: '';
        width: 100%;
        height: 5px;
        top: -10px;
        background-color: rgba(254, 199, 44, 1);
        position: absolute;
        transition: .4s;
    }
    .burger.active {
        background-color: rgba(254, 199, 44, 0);
    }
    .burger.active::after {
        transform: rotate(45deg);
        top: 0;
    }
    .burger.active::before {
        transform: rotate(-45deg);
        top: 0;
    }
    /* premiere slide */
    .main-container {
        background-image: unset;
        background-color: var(--yellow);
        position: relative;
        height: auto;
        padding-top: 10vh;
    }
    .nilk-intro-container {
        width: 60%;
        padding-left: 10%;
    }
    .nilk-title {
        border-left-color: var(--white);
    }
    .subtitle,
    .title {
        font-size: 4rem;
    }
    .title-right,
    .subtitle-right {
        font-size: 4rem;
        text-align: left;
    }
    .subtitle,
    .subtitle-right {
        color: var(--white);
    }
    p {
        font-size: 1rem;
    }
    .img-accueil-container img {
        margin-bottom: 10vh;
    }
    .voir-plus-link,
    .voir-plus-link-right {
        background-color: var(--white);
        width: 100px;
    }
    .voir-plus-link {
        margin-left: 58%;
    }
    .voir-plus-link-right {
        margin-right: 58%;
        margin-left: unset;
    }
    /* deuxieme slide */
    .second-nilk {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
    .img-plante {
        width: 100%;
    }
    .p-right {
        text-align: left;
    }
    /* troisieme slide */
    .third-container {
        background-image: unset;
        background-color: var(--yellow);
    }
    .nilk-third-container {
        width: 60%;
        padding-left: 10%;
    }
    .img-concept-plaisir {
        width: 100%;
        height: auto;
    }
    /* quatrieme container */
    .fourth-container {
        background-image: unset;
        background-color: var(--yellow);
        flex-direction: column-reverse;
        align-items: center;
    }
    .fourth-nilk {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
    .img-nilk-sport {
        width: 80%;
        height: auto;
    }
    .img-plante-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-nilk-sport.active {
        width: 80%;
        height: auto;
        margin-left: 0;
    }
    /* le footer */
    footer {
        flex-direction: column-reverse;
    }
    footer p {
        text-align: center;
    }
    .rs-container {
        width: 50%;
    }
    .rs-container img {
        width: 50%;
    }
    .main {
        overflow-y: unset;
    }
    html {
        cursor: inherit;
    }
    #cursor {
        display: none;
    }
    /* menu */
    navbar a {
        display: none;
    }
    .menu-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        right: -100vw;
        transition: .4s;
        background-color: var(--yellow);
        z-index: 98;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .menu-container a {
        color: var(--white);
        margin-top: 4rem;
        font-size: 2rem;
    }
    .menu-container.active {
        right: 0;
    }
    .burger-container {
        position: fixed;
        right: 0;
        top: 0;
        height: 60px;
        width: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger {
        width: 80%;
        height: 5px;
        background-color: rgba(254, 199, 44, 1);
        position: relative;
        transition: .4s;
    }
    .burger::before {
        content: '';
        width: 100%;
        height: 5px;
        top: 10px;
        background-color: rgba(254, 199, 44, 1);
        position: absolute;
        transition: .4s;
    }
    .burger::after {
        content: '';
        width: 100%;
        height: 5px;
        top: -10px;
        background-color: rgba(254, 199, 44, 1);
        position: absolute;
        transition: .4s;
    }
    .burger.active {
        background-color: rgba(254, 199, 44, 0);
    }
    .burger.active::after {
        transform: rotate(45deg);
        top: 0;
    }
    .burger.active::before {
        transform: rotate(-45deg);
        top: 0;
    }
    /* premiere slide */
    .main-container {
        background-image: unset;
        background-color: var(--yellow);
        position: relative;
        height: auto;
        padding-top: 10vh;
    }
    .nilk-intro-container {
        width: 60%;
        padding-left: 10%;
    }
    .nilk-title {
        border: none;
    }
    .subtitle,
    .title {
        font-size: 4rem;
        padding-left: 0;
    }
    .title-right,
    .subtitle-right {
        font-size: 4rem;
        text-align: left;
    }
    .subtitle,
    .subtitle-right {
        color: var(--white);
        padding-left: 0;
    }
    p {
        font-size: 1rem;
    }
    .img-accueil-container img {
        margin-bottom: 10vh;
    }
    .voir-plus-link,
    .voir-plus-link-right {
        background-color: var(--white);
        width: 100px;
    }
    .voir-plus-link {
        margin-left: 58%;
        margin-bottom: 2rem;
    }
    .voir-plus-link-right {
        margin-right: 58%;
        margin-left: unset;
        margin-bottom: 2rem;
    }
    /* deuxieme slide */
    .second-container {
        height: auto;
        background-image: unset;
        background-color: var(--white);
        padding-top: 5vh;
    }
    .second-container .subtitle-right {
        color: var(--black);
    }
    .second-container .voir-plus-link-right {
        background-color: var(--yellow);
    }
    .second-nilk {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
    .img-plante {
        width: 100%;
    }
    .p-right {
        text-align: left;
    }
    .nilk-title-right {
        border-right: unset;
    }
    /* troisieme slide */
    .third-container {
        background-image: unset;
        background-color: var(--yellow);
        height: auto;
        padding-top: 5vh;
    }
    .nilk-third-container {
        width: 60%;
        padding-left: 10%;
    }
    .img-concept-plaisir {
        width: 100%;
        height: auto;
    }
    /* quatrieme container */
    .fourth-container {
        background-image: unset;
        background-color: var(--white);
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        padding-top: 5vh;
    }
    .fourth-container .subtitle-right {
        color: var(--black);
    }
    .fourth-container .voir-plus-link-right {
        background-color: var(--yellow);
    }
    .fourth-nilk {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }
    .img-nilk-sport {
        width: 80%;
        height: auto;
    }
    .img-plante-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-nilk-sport.active {
        width: 80%;
        height: auto;
        margin-left: 0;
    }
    /* le footer */
    footer {
        flex-direction: column-reverse;
        background-color: var(--yellow);
    }
    footer p {
        text-align: center;
        color: var(--white);
    }
    .espacement_qr_code {
        margin: 1rem;
    }
    .rs-container {
        width: 50%;
    }
    .rs-container img {
        width: 50%;
        mix-blend-mode: difference;
    }
    .alignement_items {
        width: 80%;
    }
    .qr_code_design {
        width: 60%;
        object-fit: cover;
    }
    .no-horizontal {
        display: none;
    }

    .flex_articles{
    	flex-direction: column;
    }

    .delim_size_img_articles{
    	width: 100%;
    }

    .white_articles{
    	width: 100%;
    }

    .font_size_profitez{
    	text-align: center;
    }
    .font_size_liberte{
    	text-align: center;
    }
}

@media (orientation: landscape) and (max-device-width: 640px) {
    .no-horizontal {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(255,255,255,.8);

    }
    .no-horizontal img {
        animation: turn 1.5s ease infinite;
        width: 20%;
    }
    @keyframes turn {
        0% {
            transform: rotate(90deg);
        }




        70% {
            transform: rotate(0);
        }
        100%{
            transform: rotate(90deg);        	

        }
    }
}

